.kontakt {
    margin-top: 70vh;
    font-size: 120px;
    font-weight: normal;
    color: rgba(185, 131, 61, 0.137) ;
    border-bottom: rgb(185, 131, 61) 2px solid;
    position: absolute;
}

.mereInfo {
    width:auto;
    font-size: xx-large;
    margin-top: 79vh;
    z-index: 0;
    margin-left: 5vh;
}

/* contact */
.contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10vh;
}

.container {
    width: 80%;
    border: rgba(214, 167, 104, 0.082) 2px solid;
    border-radius: 5px;
    background-color: rgba(224, 235, 245, 0.5);
    padding: 50px;
}

.container img {
    width: 10vh;
    margin-right: 3vh;
}

.email, .phone, .home {
    display: flex;
    margin-bottom: 8vh;
    margin-left: 3vh;
    /* justify-content: space-evenly; */
}
/* soMe */
.soMe {
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 2vh;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-facebook {
    border-radius: 100px;
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    border-radius: 100px;
    background: #007bb5;
    color: white;
  }

  .fa-instagram {
    border-radius: 100px;
      background-image: radial-gradient(yellow, rgb(180, 28, 155), blue);
      background-size: 40vh;
      background-position-y: -0vh;
      background-position-x: -20vh;
      color: white;
  }

  /* maps */

  .maps {
      grid-row: 1;
      grid-column: 2;
      margin-left: 9vh;
      transition: transform .11s;
    }

    .maps img:hover {
        transform: scale(1.4);
    }
    .maps img {
    width: 100%;
    opacity: 70%;
    border: rgb(224, 235, 245) 5px solid;
  }

  .maps img:hover {
     opacity: 1;
  }