
@media only screen and (max-width: 800px) {

.aboutPicAndText {
    grid-template-rows: 17vh 25vh 16vh;
    grid-template-columns: 20vh 1fr;
}

.whoAreWe {
    margin-left: 0;
}


.aboutPicAndText img {
    width: 15vh;
    grid-column: 1;
}

.aboutWho{
    font-size: large;
    margin-top: 5em;
}

.featherAbout {
    margin-left: -1vh;
    margin-top: -20vh;
    position: absolute;
}
.featherAbout img {
    height: 7vh;
    transform: scaleX(-1)
}

.featherAbout2 {
    display: grid;
    grid-row: 2;
    margin-top: 11vh;
    margin-left: 5em;
    position: absolute;

}

.featherAbout2 img {
    height: 7vh;
    width: auto;
    border: none;
}

}