@media only screen and (max-width: 1150px) {

    .mainContent, .about {
        padding-left: 2em;
        padding-right: 2em;
    }
    
/* HEROPIC WITH FEATHER */
    .heroImage img {
        height: 400px;
        margin-top: 2em;
    }

    .feather img {
        display: none;
    }
    
    
    /* OVERSKRIVER MED "UNDER"OVERSKRIFTER*/

    .skill {
        justify-content: center;
    }

    .textUnderSkill {
        margin-top: 5em;
    }
    
    .tilbyde {
        margin-left: 4vh;
        margin-top: 17vh;
    }
    
    .packageImg {
        margin-left: 1vh;
    }

    #myBtn, #myBtn2, #myBtn3, #myBtn4 {
        margin-bottom: 30px;
    }

    .packageImg img {
        height: 150px;
        padding: 10px;
    }
     
}